* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .home-container {
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  
  /* Hero Section */
  .hero-section {
    background-color: #2cbab3;
    color: white;
    text-align: center;
    padding: 60px 0;
    border: 1px solid rgba(255, 255, 255, 0.915);
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.101);
    width: 60%;
    margin: auto;
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .hero-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .input-container input {
    width: 300px;
    padding: 15px;
    border: none;
    border-radius: 14px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.915);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.101);
  }
  
  /* Categories Section */
  .categories-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  
  .category-card {
    background-color: rgba(255, 255, 255, 0.915);
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    width: 220px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.101);
    border: 1px solid rgba(255, 255, 255, 0.915);
    transition: transform 0.3s;
  }
  
  .category-card img {
    width: 80px;
    margin-bottom: 15px;
  }
  
  .category-card h2 {
    font-size: 18px;
    color: #333;
  }
  
  .category-card p {
    font-size: 14px;
    color: #777;
  }
  
  .category-card .discount {
    color: #ff5722;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .category-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  

  